@import "../base";

/* @define Header */
.Header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: var(--Header-height);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  user-select: none;
}