@import "../base";

/* @define Header */
.Header {
  position: sticky;
  top: -4rem;
  z-index: 10;
  background: #fff;
  user-select: none;
  text-transform: uppercase;
  font-size: 0.84375rem;
  margin: 1rem 0 0.5rem;
  font-weight: bold;
  text-align: center;
}

.Header-start {
  text-align: center;
  position: relative;
  display: inline-block;
  padding-bottom: 0.7rem;
  transition: color 200ms var(--ease);
}

.Header-start:active {
  color: #bbb;
  transition: none;
}

.Header-logotype {
  display: flex;
  justify-content: space-between;
  width: 101%;
}

.Header-symbol {
  display: block;
  height: var(--symbol-height);
  margin-bottom: 0.5em;
}

.Header path {
  stroke-width: var(--symbol-stroke-width);
}

.Header-nav {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  padding-top: 0.7em;
  letter-spacing: 0.4em;
}

.Header-nav > :last-child {
  margin-right: -0.4em;
}

@media (min-width: 350px) {
  .Header-nav {
    letter-spacing: 0.5em;
  }

  .Header-nav > :last-child {
    margin-right: -0.5em;
  }
}

.Header-link {
  display: block;
  padding: 0.8em 0;
  transition: color 200ms var(--ease);
}

.Header-link:active {
  color: #bbb;
  transition: none;
}

@media (min-width: 700px) {
  .Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    top: 0;
    margin: var(--document-margin) 0 0 var(--document-margin);
    width: calc(100% - (var(--document-margin) * 2));
  }

  .Header > :first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .Header .u-container {
    padding: 0 !important;
  }

  .Header-repeat {
    position: absolute;
    top: 0;
    left: 0;
    display: block !important;
    width: 100%;
    height: var(--symbol-height);
  }

  .Header-start {
    font-size: 1.25em;
  }

  .Header-symbol {
    overflow: visible;
  }

  .Header-symbol path:last-child {
    stroke: #000;
  }

  .Header-nav {
    justify-content: flex-end;
    padding: 0 0 0.1em 0;
    border: 0;
  }

  .Header-link {
    margin-left: 2.6rem;
    padding: 1em 0;
    position: relative;
    top: 0.5em;
  }
}

@media (min-width: 800px) {
  .Header {
    margin-top: calc(var(--document-margin) - 1rem);
  }
}

@media (min-width: 1100px) {
  .Header-start {
    font-size: 1.6em;
  }

  .Header-nav {
    padding: 0 0 0.4em 0;
  }
}

@media (min-width: 1400px) {
  .Header {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .Header-start {
    font-size: 1.4em;
  }
}