@import "../base";

/* @define Header */
.Header {
  position: sticky;
  top: -4.6rem;
  z-index: 10;
  background: #fff;
  user-select: none;
  text-transform: uppercase;
  font-size: 0.84375rem;
  margin: 1.7rem 0 0.5rem;
  font-weight: 700;
  text-align: center;
}

.Header-nav::before {
  content: "";
  border-top: 1px solid;
  width: calc(100% - 1.2em);
  height: 0;
  position: absolute;
  top: 0;
  left: 0.6em;
}

.Header-symbol {
  display: none;
  height: var(--symbol-height);
  margin-bottom: 0.5em;
  overflow: visible;
}

.Header-symbol--decorative {
  display: block;
  position: relative;
  left: 1.1%;
}

.Header path {
  stroke-width: var(--symbol-stroke-width);
}

.Header-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.1em;
  flex-wrap: wrap;
}

/* @media (min-width: 350px) and (max-width: 699px) {
  .Header-nav li:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
} */

.Header-nav li {
  padding: 0 0.6em;
}

.Header-nav > :last-child {
  margin-right: -0.1em;
}

@media (min-width: 1000px) {
  .Header-nav {
    letter-spacing: 0.5em;
  }

  .Header-nav > :last-child {
    margin-right: -0.5em;
  }
}

.Header-link  {
  display: inline-block;
  padding: 0.8em 0;
}

.Header-link--start  {
  padding: 0 0 1.8rem;
  margin-left: -0.5em;
}

.Header-label {
  transition: color 400ms var(--ease);
}

@media (max-width: 699px) {
  .Header-link.is-active .Header-label:not(.Header-label--logotype) {
    color: #999;
  }
}

.Header-link:active .Header-label {
  color: #bbb;
  transition: none;
}

.Header-label--logotype {
  display: flex;
  justify-content: space-between;
  width: 101%;
}

@media (min-width: 700px) {
  .Header {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    position: relative;
    top: 0;
    margin: calc(var(--document-margin) * 0.8) 0 0 var(--document-margin);
    width: calc(100% - (var(--document-margin) * 2));
  }

  .Header > :first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .Header .u-container {
    padding: 0 !important;
  }

  .Header-nav li {
    padding: 0;
  }

  .Header-nav::before {
    content: none;
  }

  .Header-repeat {
    position: absolute;
    top: 0;
    left: 0;
    display: block !important;
    width: 100%;
    height: var(--symbol-height);
  }

  .Header-nav {
    overflow: hidden;
    justify-content: flex-end;
    padding: 0 0 0.1em 0;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
  }

  .Header-link {
    position: relative;
    margin-left: 2.6rem;
    padding: 2.6rem 0 1rem;
    margin-bottom: -0.5em;
    overflow: hidden;
  }

  .Header-link--start {
    margin-left: 0;
    width: 6.9em;
    padding: 2.5em 0 0.5em;
    font-size: 1.25em;
  }

  .Header-symbol {
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - 0.8em);
    transform: translateX(-45%);
  }

  .Header-link--start .Header-symbol {
    top: 0;
    left: 0;
    transform: none;
  }

  .Header-symbol--decorative {
    display: none;
  }
}

/* @media (min-width: 800px) {
  .Header {
    margin-top: calc(var(--document-margin) - 1.5rem);
  }
} */

@media (min-width: 1100px) {
  .Header-link--start {
    font-size: 1.6em;
    width: 6.7em;
  }

  .Header-link {
    padding: 3.2rem 0 1rem;
  }

  .Header-link--start {
    padding: 2.2em 0 0.5em;
  }
}

@media (min-width: 1400px) {
  .Header {
    font-size: 1rem;
  }

  .Header-link--start {
    font-size: 1.4em;
  }
}
