:root {
  --document-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
  --document-font-size-small: 1rem;
  --document-font-size: 1.9rem;
  --document-font-size-large: 2.15rem;
  
  --document-line-height-small: 1.15;
  --document-line-height: 1.1;
  --document-line-height-large: 1;

  --document-background: 255, 255, 255;
  --document-color: 0, 0, 0;

  --document-width: 2000px;
  --document-margin: 0.75rem;

  --container-large-width: var(--document-width);
  --container-medium-width: 43rem;
  --container-small-width: 30rem;

  --symbol-height: 1.38rem;
  --symbol-stroke-width: 2px;

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 350px) {
  :root {
    --document-font-size: 1.9rem;
    --document-font-size-large: 2.4rem;
  }
}

@media (min-width: 400px) {
  :root {
    --document-margin: 1.5rem;
    --document-font-size-small: 1.25rem;
    --document-font-size: 2rem;
    --document-font-size-large: 2.65rem;
  }
}

@media (min-width: 500px) {
  :root {
    --document-font-size: 2.2rem;
    --document-font-size-large: 2.8rem;
  }
}

@media (min-width: 600px) {
  :root {
    --document-font-size-large: 3.3rem;
  }
}

@media (min-width: 700px) {
  :root {
    --document-font-size-small: 1.4rem;
    --symbol-height: 1.8rem;
    --symbol-stroke-width: 3px;
  }
}

@media (min-width: 800px) {
  :root {
    --document-font-size-small: 1.3rem;
    --document-font-size: 2.4rem;
    --document-font-size-large: 2.95rem;
    
    --document-line-height: 1.1;

    --document-margin: 3.5rem;
  }
}

@media (min-width: 1100px) {
  :root {
    --document-font-size-small: 1.8rem;
    --document-font-size: 3.3rem;
    --document-font-size-large: 4.2rem;
    
    --document-line-height: 1.2;
    --document-line-height-large: 0.93;

    --document-margin: 4rem;    
    --symbol-stroke-width: 4px;
    --symbol-height: 1.8rem;
  }
}

@media (min-width: 1400px) {
  :root {
    --document-font-size-small: 2.0rem;
    --document-font-size: 3.8rem;
    --document-font-size-large: 4.8rem;
    
    --symbol-height: 2.1rem;
  }
}