:root {
  --document-font-family: "Temp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --document-font-size: 2rem;
  --document-font-size-small: 1rem;
  --document-line-height: 1;

  --document-background: 255, 255, 255;
  --document-color: 0, 0, 0;

  --document-width: 1600px;
  --document-margin: 0.75rem;

  --container-large-width: var(--document-width);
  --container-medium-width: 43rem;
  --container-small-width: 30rem;

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 400px) {
  :root {
    --document-margin: 1rem;
  }
}

@media (min-width: 600px) {
  :root {
    --document-margin: 2.5rem;
    --document-font-size: 3.25rem;
    --document-font-size-small: 1.55rem;
  }
}

@media (min-width: 1000px) {
  :root {
    --document-margin: 3.5rem;
  }
}

@media (min-width: 1400px) {
  :root {
    --document-margin: 6rem;
  }
}
