@import "./global";

/* @define utilities */
.u-hiddenVisually {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/**
 * Centered page container
 */

.u-container {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: var(--document-margin) !important;
  padding-right: var(--document-margin) !important;
  max-width: calc(var(--container-large-width) + (var(--document-margin) * 2)) !important
}

@media (min-width: 500px) {
  .u-padded {
    padding-left: var(--document-margin) !important;
    padding-right: var(--document-margin) !important;
  }
}

/**
 * Text
 */

.u-textNowrap {
  white-space: nowrap !important;
}

.u-link,
.u-linkArrow {
  display: inline-block;
  transition: color 400ms var(--ease);
  font-weight: 600;
  position: relative;
}

.u-link {
  color: #999;
  border-bottom: var(--symbol-stroke-width) solid;
  padding-bottom: 0.15em;
}

.u-link:active {
  color: #ccc;
  transition: none;
}

.u-linkArrow:hover {
  color: #555;
}

.u-linkArrow:active {
  color: #999;
  transition: none;
}

.u-linkArrow {
  padding-right: calc(var(--symbol-height) * 4.5);
  white-space: nowrap;
}

.u-arrow {
  display: block !important;
  height: var(--symbol-height);
  margin-bottom: 0.5em;
  overflow: visible;
  position: absolute;
  top: 58%;
  right: 0;
  transform: translateY(-50%);
}

.u-arrow path {
  stroke-width: var(--symbol-stroke-width);
}