@import "../base";

/* @define Footer */
.Footer {
  user-select: none;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-size: 0.8125rem;
  margin: 3rem 0 3rem;
  font-weight: bold;
}

.Footer-link {
  display: block;
  padding: 0.3rem;
  margin: 0.7rem 0 0.7em -0.3rem;
}

@media (min-width: 700px) {
  .Footer-nav {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    border: 0;
  }

  .Footer-link {
    margin-left: 2.6rem;
    margin-right: -0.7rem;
  }

  .Footer-start {
    flex: 1;
    order: -1;    
  }

  .Footer-start .Footer-link {
    margin-left: -0.2rem;
  }
}